<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="tuuti"><%= notice %></p>
    <%= Time.zone.now.strftime("%Y年%m月%d日") %>

    <% @topics.reverse.each do |topic| %>
      <% if topic.share == 0 then%>
            <% if topic.status == 1 then%>
              <div class="row" style="background-color : #FFE4B5">
              <%elsif topic.status == 2 then%>
              <div class="row" style="background-color : #ADD8E6">
              <%else%>
              <div class="row">
            <%end%>

            <div class="row">
              <div class="col-xs-3">
                <inline class="icon"><%= profile_img(topic.user) if profile_img(topic.user) %></inline>
              </div>
              <div class="col-xs-9">
                <div class="name_time"><%= topic.user.name %>さん <%=topic.updated_at.strftime("%Y年%m月%d日 %H:%M")%></div>
              </div>
            </div>

            <div class="title"><%= topic.created_at.strftime("%m月%d日") %>の目標</div>
            <p class="content"><%= topic.content %></p>

            <% if topic.user_id == current_user.id then%>
              <div style="display:inline-flex">
              <%= form_tag('/status/'+ topic.id.to_s , method: "PUT") do %>
                <%= submit_tag  '達成！', class: 'btn btn-default btn-sm btn-warning' %>
              <% end %>
              <%= form_tag('/status/'+ topic.id.to_s , method: "DELETE") do %>
                <%= submit_tag  '＿|￣|○', class: 'btn btn-default btn-sm btn-primary' %>
              <% end %>
              </div>
              <span class="edit_btn">
                <%= link_to "編集", edit_mission_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
                <%= link_to "削除", mission_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
              </span>
            <% end %>



             <inline class="goodbutton">
               <% if topic.user_id != current_user.id then%>
                 <%= render 'good_form', topic: topic %>
               <%end%>
            </inline>
            <inline class="goodcount">いいね<%= topic.gooders.count %>件</inline>

            <div class="comment-area-col col-xs-12">
              <div id="comments_area_<%= topic.id %>">
                <%= render partial: 'comments/index', locals: { comments: @comments, topic: topic, id: @topic_id } %>
              </div>
              <%= render partial: 'comments/form', locals: { comment: @comment, topic: topic } %>
            </div>

          </div>

      <% end %>
    <% end %>

    <% @missions.each do |mission| %>
      <%if mission.share == 0 then%>
          <% if mission.status == 1 then%>
            <div class="row" style="background-color : #FFE4B5">
            <%elsif mission.status == 2 then%>
            <div class="row" style="background-color : #ADD8E6">
            <%else%>
            <div class="row">
          <%end%>
          <div class="row">
            <div class="col-xs-3">
              <inline class="icon"><%= profile_img(mission.user) if profile_img(mission.user) %></inline>
            </div>
            <div class="col-xs-9">
              <div class="name_time"><%= mission.user.name %>さん <%=mission.updated_at.strftime("%Y年%m月%d日 %H:%M")%></div>
            </div>
          </div>
          <div class="title"><%= mission.title %></div>
          <p class="content"><%= mission.content %></p>
            <% if mission.user_id == current_user.id then%>
              <div style="display:inline-flex">
              <%= form_tag('/status/'+ mission.id.to_s , method: "PUT") do %>
                <%= submit_tag  '達成！', class: 'btn btn-default btn-sm btn-warning' %>
              <% end %>
              <%= form_tag('/status/'+ mission.id.to_s , method: "DELETE") do %>
                <%= submit_tag  '＿|￣|○', class: 'btn btn-default btn-sm btn-primary' %>
              <% end %>
              </div>
              <span class="edit_btn">
                <%= link_to "編集", edit_mission_path(mission.id), class: 'btn btn-default btn-sm btn-success' %>
                <%= link_to "削除", mission_path(mission.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
              </span>
            <% end %>


          </div>
      <%end%>
    <% end %>
  </div>
</div>
