<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="tuuti"><%= notice %></p>
    <%= Time.zone.now.strftime("%Y年%m月%d日") %>


    <% @topics.reverse.each do |topic| %>
      <% if topic.share == 0 then%>
            <% if topic.status == 1 then%>
              <div class="row topic_area" style="background-color : #FFE4B5">
              <%elsif topic.status == 2 then%>
              <div class="row topic_area" style="background-color : #ADD8E6">
              <%else%>
              <div class="row topic_area">
            <%end%>

            <div class="row">
              <div class="col-xs-4">
                <inline class="icon"><%= profile_img(topic.user) if profile_img(topic.user) %></inline>
              </div>
              <div class="col-xs-8">
                <div class="name_time"><%= topic.user.name %>さん<br><%=topic.updated_at.strftime("%Y年%m月%d日 %H:%M")%></div>
              </div>
            </div>

            <%if topic.title == "今日の目標" then%>
            <div class="title"><%= topic.created_at.strftime("%m月%d日") %>の目標</div>
            <%else%>
            <div class="title"><%= topic.title%></div>
            <%end%>

            <p class="content"><%= topic.content %></p>

            <% if topic.user_id == current_user.id then%>
              <div style="display:inline-flex">
                <%= form_tag('/todaystatus/'+ topic.id.to_s , method: "PUT") do %>
                  <%= submit_tag  '達成！', class: 'btn btn-default btn-sm btn-warning' %>
                <% end %>
                <%= form_tag('/todaystatus/'+ topic.id.to_s , method: "DELETE") do %>
                  <%= submit_tag  '＿|￣|○', class: 'btn btn-default btn-sm btn-primary' %>
                <% end %>
              </div>
              <span class="edit_btn">
                <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-default btn-sm btn-success' %>
                <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
              </span>
            <% end %>

             <inline class="goodbutton">
               <% if topic.user_id != current_user.id then%>
                 <%= render 'good_form', topic: topic %>
               <%end%>
            </inline>
            <inline class="goodcount">いいね<%= topic.gooders.count %>件</inline>
            <span class="genre_area">ジャンル：<%= genre(topic.genre) %></span>


            <br><br>
            <div class="comment-area-col col-xs-12">
              <div id="comments_area_<%= topic.id %>">
                <%= render partial: 'comments/index', locals: { comments: @comments, topic: topic, id: @topic_id } %>
              </div>
              <%= render partial: 'comments/form', locals: { comment: @comment, topic: topic } %>
            </div>

          </div><br>

      <% end %>
    <% end %>
  </div>
</div>
