<div class="container-fluid">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="tuuti"><%= notice %></p>
    <%= Time.zone.now.strftime("%Y年%m月%d日") %>

    <br><br>
    <%= link_to "My目標を作成する", new_topic_path, class: 'btn btn-default' %>


    <% @topics.reverse.each do |topic| %>
      <%if topic.today == true then %>
        <%if topic.user_id == current_user.id then%>
          <% if topic.created_at.strftime("%y/%m/%d") == Time.zone.now.strftime("%y/%m/%d") then%>
            <%= render partial:'show', locals: { topic: topic } %>
            <% @today = true%>
          <%end%>
        <% end %>
      <% end %>
    <% end %>

    <%if !(@today)  then%>
      <h2>今日の目標</h2>
      <%= render 'form' %>
    <%end%>

    <% @topics.reverse.each do |topic| %>
      <%if topic.today == false then %>
        <%if topic.user_id == current_user.id then%>
            <%= render partial:'show', locals: { topic: topic } %>
        <% end %>
      <% end %>
    <% end %>

    <br><br>
    <p>↓過去の目標↓</p>

    <% @topics.reverse.each do |topic| %>
      <%if topic.today == true then %>
        <%if topic.user_id == current_user.id then%>
            <%= render partial:'show', locals: { topic: topic } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
